



input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0;
    font-size: 16px;
}

 .kg-button{
    min-width:80px;
}
.kg-row{
    margin:10px 5px;
}

 .hi{
    text-align: center;
}
