*{
    margin:0px;
    padding:0px;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color:#fff;
    height: 5rem;
    line-height: 5rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top:5rem;
}

.choice {
    width:165px;
    height:165px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    background-color: black;
}

img {
    width:150px;
    height:150px;
    object-fit: cover; /* this line is used to correct the img when the image distorts*/
    border-radius: 50%;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    font-size: 2rem;
    margin-top: 3rem;
}

#computer-score, #user-score {
    font-size: 4rem;
}

.message-container{
    margin-top:5rem;
}

#msg {
    background-color: black;
    color:#fff;
    font-size: 2rem;
    display:inline;
    padding:1rem;
    border-radius: 1rem;
}